### Notebook's description
##### This notebook creates the final dataframe (dataframe_final.csv) to be the input for the following analysis. It contains the results of the benchmarks accompanied by the protected attributes. In more detail, each row expresses for an individual the mortality prediction, the mortality ground truth and their protected attributes.

In [1]:
import pandas as pd

In [2]:
protected_attributes = pd.read_csv('data/protected_attributes.csv')
protected_attributes

       SUBJECT_ID  GENDER  LANGUAGE  INSURANCE  RELIGION  ETHNICITY  AGE
0             249       0         1          1         1          1    0
1             250       0         0          0         1          0    1
2             251       1         1          1         0          0    1
3             252       1         1          1         1          1    1
4             253       0         1          1         1          1    0
...           ...     ...       ...        ...       ...        ...  ...
46515       44089       1         1          1         1          1    0
46516       44115       0         1          1         1          1    1
46517       44123       0         1          1         1          1    0
46518       44126       0         1          1         1          1    1
46519       44128       1         1          1         1          1    1

[46520 rows x 7 columns]

In [3]:
# the predictions.csv file contains benchmark's results
predictions = pd.read_csv('data/predictions.csv')
predictions.drop(columns=['row_id'], inplace=True)
predictions.rename(columns={'subject_id': 'SUBJECT_ID', 'prediction': 'Y_PRED', 'y_true': 'Y_TRUE'}, inplace=True)
predictions

      SUBJECT_ID  Y_PRED  Y_TRUE
0          10011       1       1
1          10026       0       0
2          10030       0       0
3          10042       0       0
4          10094       0       0
...          ...     ...     ...
3231        9970       0       0
3232        9977       0       0
3233       99863       0       0
3234       99883       0       0
3235       99899       1       1

[3236 rows x 3 columns]

In [4]:
df = predictions.merge(protected_attributes, how='left', on='SUBJECT_ID')
df

,SUBJECT_ID,Y_PRED,Y_TRUE,GENDER,LANGUAGE,INSURANCE,RELIGION,ETHNICITY,AGE
0,10011,1,1,0,1,1,1,0,1
1,10026,0,0,0,1,1,0,1,0
2,10030,0,0,1,1,1,1,1,0
3,10042,0,0,1,1,1,1,1,0
4,10094,0,0,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...
3231,9970,0,0,1,1,1,1,1,1
3232,9977,0,0,1,1,1,1,1,0
3233,99863,0,0,1,0,1,1,1,1
3234,99883,0,0,1,1,1,1,1,0
3235,99899,1,1,1,1,1,1,0,0

In [5]:
df.to_csv('data/dataframe_final.csv', index=None)